<html>

<head>
        <title>Baskin World File Tree</title>
        <style>
                ul {
                        list-style-type: none;
                }

                li>ul {
                        margin-left: 20px;
                }

                .navbar {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        padding: 16px 24px;
                        background: white;
                        border-bottom: 1px solid #e5e7eb;
                }

                .brand {
                        font-size: 20px;
                        font-weight: 700;
                }

                .nav-links a {
                        margin-left: 16px;
                        text-decoration: none;
                        color: #374151;
                        font-weight: 500;
                }
        </style>
</head>

<body>
        <div class="navbar">
                <div class="brand">Baskin World</div>
                <div class="nav-links">
                        <a href="/">Home</a>
                        <a href="/world_map/">World Map</a>
                        <a href="/baskin_world_links">Data Links</a>
                        <a href="/llm">LLM</a>
                        <a href="/upload_vrs/">VRS upload</a>
                </div>
        </div>
        <h3>Data Links</h3>
        <ul>
                <li><strong>raw_data</strong>
                        <ul>
                                <li><a href="https://s3-west.nrp-nautilus.io/avis_ucsc/raw_data/session_1.vrs?AWSAccessKeyId=FWVRVM1GVRKYYR3KZ7MQ&Signature=vbYnYEInGuWxwhA9LGv%2B%2B1xHmaE%3D&Expires=1778715534"
                                                target="_blank">session_1.vrs</a></li>
                                <li><a href="https://s3-west.nrp-nautilus.io/avis_ucsc/raw_data/session_1.vrs.json?AWSAccessKeyId=FWVRVM1GVRKYYR3KZ7MQ&Signature=jQ5YbnDVZKousfuqj%2FWJJQESYJY%3D&Expires=1778715534"
                                                target="_blank">session_1.vrs.json</a></li>
                                <li><a href="https://s3-west.nrp-nautilus.io/avis_ucsc/raw_data/session_10.vrs?AWSAccessKeyId=FWVRVM1GVRKYYR3KZ7MQ&Signature=ANTrKzNTSTxYA9aihpWzAvZFW20%3D&Expires=1778715534"
                                                target="_blank">session_10.vrs</a></li>
                                <li><a href="https://s3-west.nrp-nautilus.io/avis_ucsc/raw_data/session_10.vrs.json?AWSAccessKeyId=FWVRVM1GVRKYYR3KZ7MQ&Signature=nR7K5u%2BeZN2i%2Flh1QDQPSAcASHE%3D&Expires=1778715534"
                                                target="_blank">session_10.vrs.json</a></li>
                                <li><a href="https://s3-west.nrp-nautilus.io/avis_ucsc/raw_data/session_2.vrs?AWSAccessKeyId=FWVRVM1GVRKYYR3KZ7MQ&Signature=1WOdu0ra3UawsiFQtoJR9dwfZRo%3D&Expires=1778715534"
                                                target="_blank">session_2.vrs</a></li>
                                <li><a href="https://s3-west.nrp-nautilus.io/avis_ucsc/raw_data/session_2.vrs.json?AWSAccessKeyId=FWVRVM1GVRKYYR3KZ7MQ&Signature=kv18fk35MWEZh18kS3A4ub%2B19RA%3D&Expires=1778715534"
                                                target="_blank">session_2.vrs.json</a></li>
                                <li><a href="https://s3-west.nrp-nautilus.io/avis_ucsc/raw_data/session_3.vrs?AWSAccessKeyId=FWVRVM1GVRKYYR3KZ7MQ&Signature=auQIxvJ4yH4UYieRh1fwSaZ9wb4%3D&Expires=1778715534"
                                                target="_blank">session_3.vrs</a></li>
                                <li><a href="https://s3-west.nrp-nautilus.io/avis_ucsc/raw_data/session_3.vrs.json?AWSAccessKeyId=FWVRVM1GVRKYYR3KZ7MQ&Signature=1FLuiPtQJMgYBPYnGHH3k4ZCYtI%3D&Expires=1778715534"
                                                target="_blank">session_3.vrs.json</a></li>
                                <li><a href="https://s3-west.nrp-nautilus.io/avis_ucsc/raw_data/session_4.vrs?AWSAccessKeyId=FWVRVM1GVRKYYR3KZ7MQ&Signature=WZVV%2B2V1K1NZ64iH62Z56NeDwtk%3D&Expires=1778715534"
                                                target="_blank">session_4.vrs</a></li>
                                <li><a href="https://s3-west.nrp-nautilus.io/avis_ucsc/raw_data/session_4.vrs.json?AWSAccessKeyId=FWVRVM1GVRKYYR3KZ7MQ&Signature=G1rlBzNGmhzhY26llGDSBraSgSs%3D&Expires=1778715534"
                                                target="_blank">session_4.vrs.json</a></li>
                                <li><a href="https://s3-west.nrp-nautilus.io/avis_ucsc/raw_data/session_5.vrs?AWSAccessKeyId=FWVRVM1GVRKYYR3KZ7MQ&Signature=vYnANAYasH1Xrbc4Dhn4AB9qj3I%3D&Expires=1778715534"
                                                target="_blank">session_5.vrs</a></li>
                                <li><a href="https://s3-west.nrp-nautilus.io/avis_ucsc/raw_data/session_5.vrs.json?AWSAccessKeyId=FWVRVM1GVRKYYR3KZ7MQ&Signature=8RWSepSgkCDxlDluDZlzDppPTrY%3D&Expires=1778715534"
                                                target="_blank">session_5.vrs.json</a></li>
                                <li><a href="https://s3-west.nrp-nautilus.io/avis_ucsc/raw_data/session_6.vrs?AWSAccessKeyId=FWVRVM1GVRKYYR3KZ7MQ&Signature=BRwKzvaWyznbpJSZWr9XcjitLM0%3D&Expires=1778715534"
                                                target="_blank">session_6.vrs</a></li>
                                <li><a href="https://s3-west.nrp-nautilus.io/avis_ucsc/raw_data/session_6.vrs.json?AWSAccessKeyId=FWVRVM1GVRKYYR3KZ7MQ&Signature=98WkM6yBOi0JNkXTUU4jCcFsezo%3D&Expires=1778715534"
                                                target="_blank">session_6.vrs.json</a></li>
                                <li><a href="https://s3-west.nrp-nautilus.io/avis_ucsc/raw_data/session_7.vrs?AWSAccessKeyId=FWVRVM1GVRKYYR3KZ7MQ&Signature=KcY9tUSuZklE3Ep%2F8Si1sa98A%2Fo%3D&Expires=1778715534"
                                                target="_blank">session_7.vrs</a></li>
                                <li><a href="https://s3-west.nrp-nautilus.io/avis_ucsc/raw_data/session_7.vrs.json?AWSAccessKeyId=FWVRVM1GVRKYYR3KZ7MQ&Signature=0s%2FfjrMG2vBCq6xYwL3WKNlv9E0%3D&Expires=1778715534"
                                                target="_blank">session_7.vrs.json</a></li>
                                <li><a href="https://s3-west.nrp-nautilus.io/avis_ucsc/raw_data/session_8.vrs?AWSAccessKeyId=FWVRVM1GVRKYYR3KZ7MQ&Signature=OmEcMqqu%2BTn9SDetE5aixwTMMEA%3D&Expires=1778715534"
                                                target="_blank">session_8.vrs</a></li>
                                <li><a href="https://s3-west.nrp-nautilus.io/avis_ucsc/raw_data/session_8.vrs.json?AWSAccessKeyId=FWVRVM1GVRKYYR3KZ7MQ&Signature=JG92LhyPqI5fmzWXy0hrSZnkL%2Fs%3D&Expires=1778715534"
                                                target="_blank">session_8.vrs.json</a></li>
                                <li><a href="https://s3-west.nrp-nautilus.io/avis_ucsc/raw_data/session_9.vrs?AWSAccessKeyId=FWVRVM1GVRKYYR3KZ7MQ&Signature=e9%2Fy%2F9bwfLUZpHnDYX47C1QZza0%3D&Expires=1778715534"
                                                target="_blank">session_9.vrs</a></li>
                                <li><a href="https://s3-west.nrp-nautilus.io/avis_ucsc/raw_data/session_9.vrs.json?AWSAccessKeyId=FWVRVM1GVRKYYR3KZ7MQ&Signature=XsyWDA5F7ScaRhZ1WaGQz1oTsA4%3D&Expires=1778715534"
                                                target="_blank">session_9.vrs.json</a></li>
                        </ul>
                </li>
                <li><strong>world_map</strong>
                        <ul>
                                <li><strong>0</strong>
                                        <ul>
                                                <li><strong>slam</strong>
                                                        <ul>
                                                                <li><a href="https://s3-west.nrp-nautilus.io/avis_ucsc/world_map/0/slam/closed_loop_trajectory.csv?AWSAccessKeyId=FWVRVM1GVRKYYR3KZ7MQ&Signature=F4nsFHLSSIG8teYvVda8%2F8w%2BQqA%3D&Expires=1778715534"
                                                                                target="_blank">closed_loop_trajectory.csv</a>
                                                                </li>
                                                                <li><a href="https://s3-west.nrp-nautilus.io/avis_ucsc/world_map/0/slam/online_calibration.jsonl?AWSAccessKeyId=FWVRVM1GVRKYYR3KZ7MQ&Signature=L5y%2B0zqdP6qUj9HNatfZ0wBpJ0w%3D&Expires=1778715534"
                                                                                target="_blank">online_calibration.jsonl</a>
                                                                </li>
                                                                <li><a href="https://s3-west.nrp-nautilus.io/avis_ucsc/world_map/0/slam/open_loop_trajectory.csv?AWSAccessKeyId=FWVRVM1GVRKYYR3KZ7MQ&Signature=4vj4yVHPzG4SWLhn%2F9j5ny8pVqg%3D&Expires=1778715534"
                                                                                target="_blank">open_loop_trajectory.csv</a>
                                                                </li>
                                                                <li><a href="https://s3-west.nrp-nautilus.io/avis_ucsc/world_map/0/slam/semidense_observations.csv.gz?AWSAccessKeyId=FWVRVM1GVRKYYR3KZ7MQ&Signature=d5x00Qkp9epU9TbutaIaIPR%2FwYc%3D&Expires=1778715534"
                                                                                target="_blank">semidense_observations.csv.gz</a>
                                                                </li>
                                                                <li><a href="https://s3-west.nrp-nautilus.io/avis_ucsc/world_map/0/slam/semidense_points.csv.gz?AWSAccessKeyId=FWVRVM1GVRKYYR3KZ7MQ&Signature=JPDWbENx2MZEXicN6GLdB3eADjw%3D&Expires=1778715534"
                                                                                target="_blank">semidense_points.csv.gz</a>
                                                                </li>
                                                                <li><a href="https://s3-west.nrp-nautilus.io/avis_ucsc/world_map/0/slam/summary.json?AWSAccessKeyId=FWVRVM1GVRKYYR3KZ7MQ&Signature=NKZ9o0Ccp78bczSEdF8h7NgQTZU%3D&Expires=1778715534"
                                                                                target="_blank">summary.json</a></li>
                                                        </ul>
                                                </li>
                                                <li><a href="https://s3-west.nrp-nautilus.io/avis_ucsc/world_map/0/vrs_health_check.json?AWSAccessKeyId=FWVRVM1GVRKYYR3KZ7MQ&Signature=v4ykJI8kI3K%2BV%2FouxicqgIlFPHg%3D&Expires=1778715534"
                                                                target="_blank">vrs_health_check.json</a></li>
                                                <li><a href="https://s3-west.nrp-nautilus.io/avis_ucsc/world_map/0/vrs_health_check_slam.json?AWSAccessKeyId=FWVRVM1GVRKYYR3KZ7MQ&Signature=biiNt4cvKJtxA7T6E1Mc83jrCok%3D&Expires=1778715534"
                                                                target="_blank">vrs_health_check_slam.json</a></li>
                                        </ul>
                                </li>
                                <li><strong>1</strong>
                                        <ul>
                                                <li><strong>slam</strong>
                                                        <ul>
                                                                <li><a href="https://s3-west.nrp-nautilus.io/avis_ucsc/world_map/1/slam/closed_loop_trajectory.csv?AWSAccessKeyId=FWVRVM1GVRKYYR3KZ7MQ&Signature=CeGklRZWrqejdRHtTzJvUlRUKFQ%3D&Expires=1778715534"
                                                                                target="_blank">closed_loop_trajectory.csv</a>
                                                                </li>
                                                                <li><a href="https://s3-west.nrp-nautilus.io/avis_ucsc/world_map/1/slam/online_calibration.jsonl?AWSAccessKeyId=FWVRVM1GVRKYYR3KZ7MQ&Signature=qtpB96JzJgGvscvP4Dp%2Fk8WROI4%3D&Expires=1778715534"
                                                                                target="_blank">online_calibration.jsonl</a>
                                                                </li>
                                                                <li><a href="https://s3-west.nrp-nautilus.io/avis_ucsc/world_map/1/slam/open_loop_trajectory.csv?AWSAccessKeyId=FWVRVM1GVRKYYR3KZ7MQ&Signature=eVq7vAdUumhgJn9zGzyZcbBGzRY%3D&Expires=1778715534"
                                                                                target="_blank">open_loop_trajectory.csv</a>
                                                                </li>
                                                                <li><a href="https://s3-west.nrp-nautilus.io/avis_ucsc/world_map/1/slam/semidense_observations.csv.gz?AWSAccessKeyId=FWVRVM1GVRKYYR3KZ7MQ&Signature=%2BZPhmTJJE7fiaPoYbuohnkLRH8M%3D&Expires=1778715534"
                                                                                target="_blank">semidense_observations.csv.gz</a>
                                                                </li>
                                                                <li><a href="https://s3-west.nrp-nautilus.io/avis_ucsc/world_map/1/slam/semidense_points.csv.gz?AWSAccessKeyId=FWVRVM1GVRKYYR3KZ7MQ&Signature=gBmy1HbJBKycU8w%2BXYFO%2BrK9mLo%3D&Expires=1778715534"
                                                                                target="_blank">semidense_points.csv.gz</a>
                                                                </li>
                                                                <li><a href="https://s3-west.nrp-nautilus.io/avis_ucsc/world_map/1/slam/summary.json?AWSAccessKeyId=FWVRVM1GVRKYYR3KZ7MQ&Signature=vu5yIEIvJythKk4iiDuVThO5X5s%3D&Expires=1778715534"
                                                                                target="_blank">summary.json</a></li>
                                                        </ul>
                                                </li>
                                                <li><a href="https://s3-west.nrp-nautilus.io/avis_ucsc/world_map/1/vrs_health_check.json?AWSAccessKeyId=FWVRVM1GVRKYYR3KZ7MQ&Signature=YkSpLZXYG%2B90mtgHgsUFeMUsFYk%3D&Expires=1778715534"
                                                                target="_blank">vrs_health_check.json</a></li>
                                                <li><a href="https://s3-west.nrp-nautilus.io/avis_ucsc/world_map/1/vrs_health_check_slam.json?AWSAccessKeyId=FWVRVM1GVRKYYR3KZ7MQ&Signature=iON8fZZKGDi3ObbfGIc8jX3V070%3D&Expires=1778715534"
                                                                target="_blank">vrs_health_check_slam.json</a></li>
                                        </ul>
                                </li>
                                <li><strong>2</strong>
                                        <ul>
                                                <li><strong>slam</strong>
                                                        <ul>
                                                                <li><a href="https://s3-west.nrp-nautilus.io/avis_ucsc/world_map/2/slam/closed_loop_trajectory.csv?AWSAccessKeyId=FWVRVM1GVRKYYR3KZ7MQ&Signature=Z4IjMJ7NGGEvg5qEPocQStt9pqo%3D&Expires=1778715534"
                                                                                target="_blank">closed_loop_trajectory.csv</a>
                                                                </li>
                                                                <li><a href="https://s3-west.nrp-nautilus.io/avis_ucsc/world_map/2/slam/online_calibration.jsonl?AWSAccessKeyId=FWVRVM1GVRKYYR3KZ7MQ&Signature=RdnrqHlqryRer81sqobVpF19RCw%3D&Expires=1778715534"
                                                                                target="_blank">online_calibration.jsonl</a>
                                                                </li>
                                                                <li><a href="https://s3-west.nrp-nautilus.io/avis_ucsc/world_map/2/slam/open_loop_trajectory.csv?AWSAccessKeyId=FWVRVM1GVRKYYR3KZ7MQ&Signature=yvQPy2kfnzj6iH%2BnpGT6dG%2FHJxQ%3D&Expires=1778715534"
                                                                                target="_blank">open_loop_trajectory.csv</a>
                                                                </li>
                                                                <li><a href="https://s3-west.nrp-nautilus.io/avis_ucsc/world_map/2/slam/semidense_observations.csv.gz?AWSAccessKeyId=FWVRVM1GVRKYYR3KZ7MQ&Signature=aM%2FOWxO6FNCy4XR7%2BPSB%2FTrYCJ4%3D&Expires=1778715534"
                                                                                target="_blank">semidense_observations.csv.gz</a>
                                                                </li>
                                                                <li><a href="https://s3-west.nrp-nautilus.io/avis_ucsc/world_map/2/slam/semidense_points.csv.gz?AWSAccessKeyId=FWVRVM1GVRKYYR3KZ7MQ&Signature=x9%2BGOC0JaC7Wt%2B4Ikt7jjdV3IME%3D&Expires=1778715534"
                                                                                target="_blank">semidense_points.csv.gz</a>
                                                                </li>
                                                                <li><a href="https://s3-west.nrp-nautilus.io/avis_ucsc/world_map/2/slam/summary.json?AWSAccessKeyId=FWVRVM1GVRKYYR3KZ7MQ&Signature=Bmx4yOe5cTXGFiJHX6up%2BO5gt18%3D&Expires=1778715534"
                                                                                target="_blank">summary.json</a></li>
                                                        </ul>
                                                </li>
                                                <li><a href="https://s3-west.nrp-nautilus.io/avis_ucsc/world_map/2/vrs_health_check.json?AWSAccessKeyId=FWVRVM1GVRKYYR3KZ7MQ&Signature=5AdoNr3iR6BG1hf4v3lwB331TMw%3D&Expires=1778715534"
                                                                target="_blank">vrs_health_check.json</a></li>
                                                <li><a href="https://s3-west.nrp-nautilus.io/avis_ucsc/world_map/2/vrs_health_check_slam.json?AWSAccessKeyId=FWVRVM1GVRKYYR3KZ7MQ&Signature=Eekd%2BlEeoXtmTD%2Bzp%2F2s0ejU8Jo%3D&Expires=1778715534"
                                                                target="_blank">vrs_health_check_slam.json</a></li>
                                        </ul>
                                </li>
                                <li><strong>3</strong>
                                        <ul>
                                                <li><strong>slam</strong>
                                                        <ul>
                                                                <li><a href="https://s3-west.nrp-nautilus.io/avis_ucsc/world_map/3/slam/closed_loop_trajectory.csv?AWSAccessKeyId=FWVRVM1GVRKYYR3KZ7MQ&Signature=aumkYg7PEaOz%2B%2FLBShjLZs1bPAI%3D&Expires=1778715534"
                                                                                target="_blank">closed_loop_trajectory.csv</a>
                                                                </li>
                                                                <li><a href="https://s3-west.nrp-nautilus.io/avis_ucsc/world_map/3/slam/online_calibration.jsonl?AWSAccessKeyId=FWVRVM1GVRKYYR3KZ7MQ&Signature=yqnW27wz68WnjzfiQKfAshLFvn8%3D&Expires=1778715534"
                                                                                target="_blank">online_calibration.jsonl</a>
                                                                </li>
                                                                <li><a href="https://s3-west.nrp-nautilus.io/avis_ucsc/world_map/3/slam/open_loop_trajectory.csv?AWSAccessKeyId=FWVRVM1GVRKYYR3KZ7MQ&Signature=aoLkqucNMAKjKz437nzd6kznYEA%3D&Expires=1778715534"
                                                                                target="_blank">open_loop_trajectory.csv</a>
                                                                </li>
                                                                <li><a href="https://s3-west.nrp-nautilus.io/avis_ucsc/world_map/3/slam/semidense_observations.csv.gz?AWSAccessKeyId=FWVRVM1GVRKYYR3KZ7MQ&Signature=EXih4UGWQyXXyYA%2BKpALLoAKbyo%3D&Expires=1778715534"
                                                                                target="_blank">semidense_observations.csv.gz</a>
                                                                </li>
                                                                <li><a href="https://s3-west.nrp-nautilus.io/avis_ucsc/world_map/3/slam/semidense_points.csv.gz?AWSAccessKeyId=FWVRVM1GVRKYYR3KZ7MQ&Signature=4HUBV09Xrz10GV15Cd69dp6trhM%3D&Expires=1778715534"
                                                                                target="_blank">semidense_points.csv.gz</a>
                                                                </li>
                                                                <li><a href="https://s3-west.nrp-nautilus.io/avis_ucsc/world_map/3/slam/summary.json?AWSAccessKeyId=FWVRVM1GVRKYYR3KZ7MQ&Signature=qERUX9KaRzPP6zoFla4E53qW6Fo%3D&Expires=1778715534"
                                                                                target="_blank">summary.json</a></li>
                                                        </ul>
                                                </li>
                                                <li><a href="https://s3-west.nrp-nautilus.io/avis_ucsc/world_map/3/vrs_health_check.json?AWSAccessKeyId=FWVRVM1GVRKYYR3KZ7MQ&Signature=6V4TnWmF8dUrNhgnA2U1okgSrp0%3D&Expires=1778715534"
                                                                target="_blank">vrs_health_check.json</a></li>
                                                <li><a href="https://s3-west.nrp-nautilus.io/avis_ucsc/world_map/3/vrs_health_check_slam.json?AWSAccessKeyId=FWVRVM1GVRKYYR3KZ7MQ&Signature=nn2Q%2B3yZRXB%2Bao0v4wjxiJx7o7s%3D&Expires=1778715534"
                                                                target="_blank">vrs_health_check_slam.json</a></li>
                                        </ul>
                                </li>
                                <li><strong>4</strong>
                                        <ul>
                                                <li><strong>slam</strong>
                                                        <ul>
                                                                <li><a href="https://s3-west.nrp-nautilus.io/avis_ucsc/world_map/4/slam/closed_loop_trajectory.csv?AWSAccessKeyId=FWVRVM1GVRKYYR3KZ7MQ&Signature=EiF08eobxmHGMBMJS5DOVT693IU%3D&Expires=1778715534"
                                                                                target="_blank">closed_loop_trajectory.csv</a>
                                                                </li>
                                                                <li><a href="https://s3-west.nrp-nautilus.io/avis_ucsc/world_map/4/slam/online_calibration.jsonl?AWSAccessKeyId=FWVRVM1GVRKYYR3KZ7MQ&Signature=lhx8JsVxfqDfONjo9MQYjKxOspY%3D&Expires=1778715534"
                                                                                target="_blank">online_calibration.jsonl</a>
                                                                </li>
                                                                <li><a href="https://s3-west.nrp-nautilus.io/avis_ucsc/world_map/4/slam/open_loop_trajectory.csv?AWSAccessKeyId=FWVRVM1GVRKYYR3KZ7MQ&Signature=mcvBABIWNE1e%2BLYU9LOIBTo%2Ft1M%3D&Expires=1778715534"
                                                                                target="_blank">open_loop_trajectory.csv</a>
                                                                </li>
                                                                <li><a href="https://s3-west.nrp-nautilus.io/avis_ucsc/world_map/4/slam/semidense_observations.csv.gz?AWSAccessKeyId=FWVRVM1GVRKYYR3KZ7MQ&Signature=WBogn78X%2BX%2BAOs8CBmPCB4ZW5Mc%3D&Expires=1778715534"
                                                                                target="_blank">semidense_observations.csv.gz</a>
                                                                </li>
                                                                <li><a href="https://s3-west.nrp-nautilus.io/avis_ucsc/world_map/4/slam/semidense_points.csv.gz?AWSAccessKeyId=FWVRVM1GVRKYYR3KZ7MQ&Signature=oNEkxVibUqw8thv72E4%2F3T6lpWo%3D&Expires=1778715534"
                                                                                target="_blank">semidense_points.csv.gz</a>
                                                                </li>
                                                                <li><a href="https://s3-west.nrp-nautilus.io/avis_ucsc/world_map/4/slam/summary.json?AWSAccessKeyId=FWVRVM1GVRKYYR3KZ7MQ&Signature=mBzIbuUH9XoUa3uEOrhpwkxy%2Fsc%3D&Expires=1778715534"
                                                                                target="_blank">summary.json</a></li>
                                                        </ul>
                                                </li>
                                                <li><a href="https://s3-west.nrp-nautilus.io/avis_ucsc/world_map/4/vrs_health_check.json?AWSAccessKeyId=FWVRVM1GVRKYYR3KZ7MQ&Signature=ZWle9If9qiwBq6YkdmR9UFC9g8U%3D&Expires=1778715534"
                                                                target="_blank">vrs_health_check.json</a></li>
                                                <li><a href="https://s3-west.nrp-nautilus.io/avis_ucsc/world_map/4/vrs_health_check_slam.json?AWSAccessKeyId=FWVRVM1GVRKYYR3KZ7MQ&Signature=C11SO4yqYBIJ7VQgOnSDux3jjnI%3D&Expires=1778715534"
                                                                target="_blank">vrs_health_check_slam.json</a></li>
                                        </ul>
                                </li>
                                <li><strong>5</strong>
                                        <ul>
                                                <li><strong>slam</strong>
                                                        <ul>
                                                                <li><a href="https://s3-west.nrp-nautilus.io/avis_ucsc/world_map/5/slam/closed_loop_trajectory.csv?AWSAccessKeyId=FWVRVM1GVRKYYR3KZ7MQ&Signature=eh0zsw3EYDbDIZClS0IHslojN70%3D&Expires=1778715534"
                                                                                target="_blank">closed_loop_trajectory.csv</a>
                                                                </li>
                                                                <li><a href="https://s3-west.nrp-nautilus.io/avis_ucsc/world_map/5/slam/online_calibration.jsonl?AWSAccessKeyId=FWVRVM1GVRKYYR3KZ7MQ&Signature=4gis2iaz3D2F9a499o7H0xI92VI%3D&Expires=1778715534"
                                                                                target="_blank">online_calibration.jsonl</a>
                                                                </li>
                                                                <li><a href="https://s3-west.nrp-nautilus.io/avis_ucsc/world_map/5/slam/open_loop_trajectory.csv?AWSAccessKeyId=FWVRVM1GVRKYYR3KZ7MQ&Signature=8E3lgI0Hwx6zjTbiG2x%2BaK1ct40%3D&Expires=1778715534"
                                                                                target="_blank">open_loop_trajectory.csv</a>
                                                                </li>
                                                                <li><a href="https://s3-west.nrp-nautilus.io/avis_ucsc/world_map/5/slam/semidense_observations.csv.gz?AWSAccessKeyId=FWVRVM1GVRKYYR3KZ7MQ&Signature=1ZpIoTrhkbtlbCU8u9WHYktL%2FJw%3D&Expires=1778715534"
                                                                                target="_blank">semidense_observations.csv.gz</a>
                                                                </li>
                                                                <li><a href="https://s3-west.nrp-nautilus.io/avis_ucsc/world_map/5/slam/semidense_points.csv.gz?AWSAccessKeyId=FWVRVM1GVRKYYR3KZ7MQ&Signature=RPOmGG%2B2dopO%2FqCetWVYN8INh%2BA%3D&Expires=1778715534"
                                                                                target="_blank">semidense_points.csv.gz</a>
                                                                </li>
                                                                <li><a href="https://s3-west.nrp-nautilus.io/avis_ucsc/world_map/5/slam/summary.json?AWSAccessKeyId=FWVRVM1GVRKYYR3KZ7MQ&Signature=AMX7gP%2F825CrQIar%2BXo4thj3Kso%3D&Expires=1778715534"
                                                                                target="_blank">summary.json</a></li>
                                                        </ul>
                                                </li>
                                                <li><a href="https://s3-west.nrp-nautilus.io/avis_ucsc/world_map/5/vrs_health_check.json?AWSAccessKeyId=FWVRVM1GVRKYYR3KZ7MQ&Signature=wSfVy%2Fbu6ob2F0YuUICNtA8G2sY%3D&Expires=1778715534"
                                                                target="_blank">vrs_health_check.json</a></li>
                                                <li><a href="https://s3-west.nrp-nautilus.io/avis_ucsc/world_map/5/vrs_health_check_slam.json?AWSAccessKeyId=FWVRVM1GVRKYYR3KZ7MQ&Signature=BmFZ0u6jom7WTdUtKNOyHlh7Pc0%3D&Expires=1778715534"
                                                                target="_blank">vrs_health_check_slam.json</a></li>
                                        </ul>
                                </li>
                                <li><strong>6</strong>
                                        <ul>
                                                <li><strong>slam</strong>
                                                        <ul>
                                                                <li><a href="https://s3-west.nrp-nautilus.io/avis_ucsc/world_map/6/slam/closed_loop_trajectory.csv?AWSAccessKeyId=FWVRVM1GVRKYYR3KZ7MQ&Signature=AngoLwmveCIA45cLmXn9zhuensE%3D&Expires=1778715534"
                                                                                target="_blank">closed_loop_trajectory.csv</a>
                                                                </li>
                                                                <li><a href="https://s3-west.nrp-nautilus.io/avis_ucsc/world_map/6/slam/online_calibration.jsonl?AWSAccessKeyId=FWVRVM1GVRKYYR3KZ7MQ&Signature=DnBqB4jRbhmndjwrt0Aoy0ruY1U%3D&Expires=1778715534"
                                                                                target="_blank">online_calibration.jsonl</a>
                                                                </li>
                                                                <li><a href="https://s3-west.nrp-nautilus.io/avis_ucsc/world_map/6/slam/open_loop_trajectory.csv?AWSAccessKeyId=FWVRVM1GVRKYYR3KZ7MQ&Signature=rjcosC7segyzaCETn1ogRgKAh5Y%3D&Expires=1778715534"
                                                                                target="_blank">open_loop_trajectory.csv</a>
                                                                </li>
                                                                <li><a href="https://s3-west.nrp-nautilus.io/avis_ucsc/world_map/6/slam/semidense_observations.csv.gz?AWSAccessKeyId=FWVRVM1GVRKYYR3KZ7MQ&Signature=LZ0s7X2EeYVReQjfFlNl301oe2w%3D&Expires=1778715534"
                                                                                target="_blank">semidense_observations.csv.gz</a>
                                                                </li>
                                                                <li><a href="https://s3-west.nrp-nautilus.io/avis_ucsc/world_map/6/slam/semidense_points.csv.gz?AWSAccessKeyId=FWVRVM1GVRKYYR3KZ7MQ&Signature=ZozHKZRbhDtEEb1w8NX0bqWX34A%3D&Expires=1778715534"
                                                                                target="_blank">semidense_points.csv.gz</a>
                                                                </li>
                                                                <li><a href="https://s3-west.nrp-nautilus.io/avis_ucsc/world_map/6/slam/summary.json?AWSAccessKeyId=FWVRVM1GVRKYYR3KZ7MQ&Signature=lx0tpcqmreHoUeBKfjZKNU%2FB0Vs%3D&Expires=1778715534"
                                                                                target="_blank">summary.json</a></li>
                                                        </ul>
                                                </li>
                                                <li><a href="https://s3-west.nrp-nautilus.io/avis_ucsc/world_map/6/vrs_health_check.json?AWSAccessKeyId=FWVRVM1GVRKYYR3KZ7MQ&Signature=wf7Kyx9%2Bxo%2B9a0P%2B3a6dpgH37bI%3D&Expires=1778715534"
                                                                target="_blank">vrs_health_check.json</a></li>
                                                <li><a href="https://s3-west.nrp-nautilus.io/avis_ucsc/world_map/6/vrs_health_check_slam.json?AWSAccessKeyId=FWVRVM1GVRKYYR3KZ7MQ&Signature=tR8u56Hevc1nEf3BGr6YZpPPfNo%3D&Expires=1778715534"
                                                                target="_blank">vrs_health_check_slam.json</a></li>
                                        </ul>
                                </li>
                                <li><strong>7</strong>
                                        <ul>
                                                <li><strong>slam</strong>
                                                        <ul>
                                                                <li><a href="https://s3-west.nrp-nautilus.io/avis_ucsc/world_map/7/slam/closed_loop_trajectory.csv?AWSAccessKeyId=FWVRVM1GVRKYYR3KZ7MQ&Signature=%2B5tnW%2F8pGfOqSWqjrwPkSApvH3g%3D&Expires=1778715534"
                                                                                target="_blank">closed_loop_trajectory.csv</a>
                                                                </li>
                                                                <li><a href="https://s3-west.nrp-nautilus.io/avis_ucsc/world_map/7/slam/online_calibration.jsonl?AWSAccessKeyId=FWVRVM1GVRKYYR3KZ7MQ&Signature=YUcVZP%2FsM723lTbbH4LAnp734GU%3D&Expires=1778715534"
                                                                                target="_blank">online_calibration.jsonl</a>
                                                                </li>
                                                                <li><a href="https://s3-west.nrp-nautilus.io/avis_ucsc/world_map/7/slam/open_loop_trajectory.csv?AWSAccessKeyId=FWVRVM1GVRKYYR3KZ7MQ&Signature=WYYTtSlbNQ49B%2BAZfPJvGkpjW40%3D&Expires=1778715534"
                                                                                target="_blank">open_loop_trajectory.csv</a>
                                                                </li>
                                                                <li><a href="https://s3-west.nrp-nautilus.io/avis_ucsc/world_map/7/slam/semidense_observations.csv.gz?AWSAccessKeyId=FWVRVM1GVRKYYR3KZ7MQ&Signature=8J9yWoXUEDERkVEGDR2aBFB1PCE%3D&Expires=1778715534"
                                                                                target="_blank">semidense_observations.csv.gz</a>
                                                                </li>
                                                                <li><a href="https://s3-west.nrp-nautilus.io/avis_ucsc/world_map/7/slam/semidense_points.csv.gz?AWSAccessKeyId=FWVRVM1GVRKYYR3KZ7MQ&Signature=PTEkdU5hDZEU7bQgxREPddUZlNU%3D&Expires=1778715534"
                                                                                target="_blank">semidense_points.csv.gz</a>
                                                                </li>
                                                                <li><a href="https://s3-west.nrp-nautilus.io/avis_ucsc/world_map/7/slam/summary.json?AWSAccessKeyId=FWVRVM1GVRKYYR3KZ7MQ&Signature=XKzJWngcFjOsJjDBHHCgSdbSVS0%3D&Expires=1778715534"
                                                                                target="_blank">summary.json</a></li>
                                                        </ul>
                                                </li>
                                                <li><a href="https://s3-west.nrp-nautilus.io/avis_ucsc/world_map/7/vrs_health_check.json?AWSAccessKeyId=FWVRVM1GVRKYYR3KZ7MQ&Signature=Xcwqxmmv3s54fN3tzrDtKq0JJj0%3D&Expires=1778715534"
                                                                target="_blank">vrs_health_check.json</a></li>
                                                <li><a href="https://s3-west.nrp-nautilus.io/avis_ucsc/world_map/7/vrs_health_check_slam.json?AWSAccessKeyId=FWVRVM1GVRKYYR3KZ7MQ&Signature=fS1gtKqYSIogQAGx3UEvR0RnW3g%3D&Expires=1778715534"
                                                                target="_blank">vrs_health_check_slam.json</a></li>
                                        </ul>
                                </li>
                                <li><strong>8</strong>
                                        <ul>
                                                <li><strong>slam</strong>
                                                        <ul>
                                                                <li><a href="https://s3-west.nrp-nautilus.io/avis_ucsc/world_map/8/slam/closed_loop_trajectory.csv?AWSAccessKeyId=FWVRVM1GVRKYYR3KZ7MQ&Signature=yaM6G5wtol0pD%2BJ3EdaxOqJPbKY%3D&Expires=1778715534"
                                                                                target="_blank">closed_loop_trajectory.csv</a>
                                                                </li>
                                                                <li><a href="https://s3-west.nrp-nautilus.io/avis_ucsc/world_map/8/slam/online_calibration.jsonl?AWSAccessKeyId=FWVRVM1GVRKYYR3KZ7MQ&Signature=7XuHcgexcCQqZ2I%2BtZjYh3FP89g%3D&Expires=1778715534"
                                                                                target="_blank">online_calibration.jsonl</a>
                                                                </li>
                                                                <li><a href="https://s3-west.nrp-nautilus.io/avis_ucsc/world_map/8/slam/open_loop_trajectory.csv?AWSAccessKeyId=FWVRVM1GVRKYYR3KZ7MQ&Signature=%2BZl%2F0aFUkZXuVDgmvoFxcoop9ro%3D&Expires=1778715534"
                                                                                target="_blank">open_loop_trajectory.csv</a>
                                                                </li>
                                                                <li><a href="https://s3-west.nrp-nautilus.io/avis_ucsc/world_map/8/slam/semidense_observations.csv.gz?AWSAccessKeyId=FWVRVM1GVRKYYR3KZ7MQ&Signature=ZYbY8R98A6rfCuRZtGj%2BGrVs2HU%3D&Expires=1778715534"
                                                                                target="_blank">semidense_observations.csv.gz</a>
                                                                </li>
                                                                <li><a href="https://s3-west.nrp-nautilus.io/avis_ucsc/world_map/8/slam/semidense_points.csv.gz?AWSAccessKeyId=FWVRVM1GVRKYYR3KZ7MQ&Signature=FUe8pq%2BAxKK%2BogMucUzAByyatb0%3D&Expires=1778715534"
                                                                                target="_blank">semidense_points.csv.gz</a>
                                                                </li>
                                                                <li><a href="https://s3-west.nrp-nautilus.io/avis_ucsc/world_map/8/slam/summary.json?AWSAccessKeyId=FWVRVM1GVRKYYR3KZ7MQ&Signature=vodaMiS4gSxdZUr%2F%2FPFeGBkCD7M%3D&Expires=1778715534"
                                                                                target="_blank">summary.json</a></li>
                                                        </ul>
                                                </li>
                                                <li><a href="https://s3-west.nrp-nautilus.io/avis_ucsc/world_map/8/vrs_health_check.json?AWSAccessKeyId=FWVRVM1GVRKYYR3KZ7MQ&Signature=DH8qoO%2B6eo5esqEbcIznoo1BFXA%3D&Expires=1778715534"
                                                                target="_blank">vrs_health_check.json</a></li>
                                                <li><a href="https://s3-west.nrp-nautilus.io/avis_ucsc/world_map/8/vrs_health_check_slam.json?AWSAccessKeyId=FWVRVM1GVRKYYR3KZ7MQ&Signature=wEQnGSedN1Eb9KZMa4qBhqbJ51I%3D&Expires=1778715534"
                                                                target="_blank">vrs_health_check_slam.json</a></li>
                                        </ul>
                                </li>
                                <li><strong>9</strong>
                                        <ul>
                                                <li><strong>slam</strong>
                                                        <ul>
                                                                <li><a href="https://s3-west.nrp-nautilus.io/avis_ucsc/world_map/9/slam/closed_loop_trajectory.csv?AWSAccessKeyId=FWVRVM1GVRKYYR3KZ7MQ&Signature=MWQd14qfBe1cOWkG3kS0yk1HQAQ%3D&Expires=1778715534"
                                                                                target="_blank">closed_loop_trajectory.csv</a>
                                                                </li>
                                                                <li><a href="https://s3-west.nrp-nautilus.io/avis_ucsc/world_map/9/slam/online_calibration.jsonl?AWSAccessKeyId=FWVRVM1GVRKYYR3KZ7MQ&Signature=cb0Q4WdPMFPoiQTiE2xNvbxtuqA%3D&Expires=1778715534"
                                                                                target="_blank">online_calibration.jsonl</a>
                                                                </li>
                                                                <li><a href="https://s3-west.nrp-nautilus.io/avis_ucsc/world_map/9/slam/open_loop_trajectory.csv?AWSAccessKeyId=FWVRVM1GVRKYYR3KZ7MQ&Signature=zgAW42ZtH0k5h6OI29tN14nvy9g%3D&Expires=1778715534"
                                                                                target="_blank">open_loop_trajectory.csv</a>
                                                                </li>
                                                                <li><a href="https://s3-west.nrp-nautilus.io/avis_ucsc/world_map/9/slam/semidense_observations.csv.gz?AWSAccessKeyId=FWVRVM1GVRKYYR3KZ7MQ&Signature=XPgzErOXlE0gB24y0j5BwhkYRaw%3D&Expires=1778715534"
                                                                                target="_blank">semidense_observations.csv.gz</a>
                                                                </li>
                                                                <li><a href="https://s3-west.nrp-nautilus.io/avis_ucsc/world_map/9/slam/semidense_points.csv.gz?AWSAccessKeyId=FWVRVM1GVRKYYR3KZ7MQ&Signature=r8R0JBceV7YCDkPDnBD5yxyqhnY%3D&Expires=1778715534"
                                                                                target="_blank">semidense_points.csv.gz</a>
                                                                </li>
                                                                <li><a href="https://s3-west.nrp-nautilus.io/avis_ucsc/world_map/9/slam/summary.json?AWSAccessKeyId=FWVRVM1GVRKYYR3KZ7MQ&Signature=bBcdYw11XpMOVFe5U%2BU%2BNXRhHSw%3D&Expires=1778715534"
                                                                                target="_blank">summary.json</a></li>
                                                        </ul>
                                                </li>
                                                <li><a href="https://s3-west.nrp-nautilus.io/avis_ucsc/world_map/9/vrs_health_check.json?AWSAccessKeyId=FWVRVM1GVRKYYR3KZ7MQ&Signature=Pd5G2PnW2F49Vng1bPtSr3CUdwA%3D&Expires=1778715534"
                                                                target="_blank">vrs_health_check.json</a></li>
                                                <li><a href="https://s3-west.nrp-nautilus.io/avis_ucsc/world_map/9/vrs_health_check_slam.json?AWSAccessKeyId=FWVRVM1GVRKYYR3KZ7MQ&Signature=xcMB62JGb2vyatIkOFsWV%2FavnPk%3D&Expires=1778715534"
                                                                target="_blank">vrs_health_check_slam.json</a></li>
                                        </ul>
                                </li>
                                <li><a href="https://s3-west.nrp-nautilus.io/avis_ucsc/world_map/summary.json.zip?AWSAccessKeyId=FWVRVM1GVRKYYR3KZ7MQ&Signature=SZ%2FgwiwNhfbDAhMg0P108vVG06U%3D&Expires=1778715534"
                                                target="_blank">summary.json.zip</a></li>
                                <li><a href="https://s3-west.nrp-nautilus.io/avis_ucsc/world_map/vrs_to_multi_slam.json?AWSAccessKeyId=FWVRVM1GVRKYYR3KZ7MQ&Signature=qTJAIp2mgoVlotzXAkAa8B%2FiWqU%3D&Expires=1778715534"
                                                target="_blank">vrs_to_multi_slam.json</a></li>
                        </ul>
                </li>
        </ul>
</body>

</html>