<html>

<head>
    <title>Baskin World File Tree</title>
    <style>
        ul {
            list-style-type: none;
        }

        li>ul {
            margin-left: 20px;
        }

        .navbar {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 16px 24px;
            background: white;
            border-bottom: 1px solid #e5e7eb;
        }

        .brand {
            font-size: 20px;
            font-weight: 700;
        }

        .nav-links a {
            margin-left: 16px;
            text-decoration: none;
            color: #374151;
            font-weight: 500;
        }
    </style>
</head>

<body>
    <div class="navbar">
        <div class="brand">Baskin World</div>
        <div class="nav-links">
            <a href="/">Home</a>
            <a href="/world_map/">World Map</a>
            <a href="/baskin_world_links">Data Links</a>
            <a href="/llm">LLM</a>
            <a href="/upload_vrs/">VRS upload</a>
        </div>
    </div>
    <h3>Data Links</h3>
    <ul>
        <li><strong>raw_data</strong>
            <ul>
                <li><a href="https://s3-west.nrp-nautilus.io/avis_ucsc/raw_data/session_1.vrs?AWSAccessKeyId=FWVRVM1GVRKYYR3KZ7MQ&Signature=%2B6BOfPnLBJWFOk3nRpILJgCGHes%3D&Expires=1778827448"
                        target="_blank">session_1.vrs</a></li>
                <li><a href="https://s3-west.nrp-nautilus.io/avis_ucsc/raw_data/session_1.vrs.json?AWSAccessKeyId=FWVRVM1GVRKYYR3KZ7MQ&Signature=NZE%2FGayH9rdgQZVvf9m2z99dHFY%3D&Expires=1778827448"
                        target="_blank">session_1.vrs.json</a></li>
                <li><a href="https://s3-west.nrp-nautilus.io/avis_ucsc/raw_data/session_10.vrs?AWSAccessKeyId=FWVRVM1GVRKYYR3KZ7MQ&Signature=Hr8TnxnuWn7QbJN4c7dy4vypBdY%3D&Expires=1778827448"
                        target="_blank">session_10.vrs</a></li>
                <li><a href="https://s3-west.nrp-nautilus.io/avis_ucsc/raw_data/session_10.vrs.json?AWSAccessKeyId=FWVRVM1GVRKYYR3KZ7MQ&Signature=3S1nfHMUCkCzl5Wx832Z3grftCI%3D&Expires=1778827448"
                        target="_blank">session_10.vrs.json</a></li>
                <li><a href="https://s3-west.nrp-nautilus.io/avis_ucsc/raw_data/session_11.vrs?AWSAccessKeyId=FWVRVM1GVRKYYR3KZ7MQ&Signature=sTVXwLRBjoMzdPdlUoDeo%2Fm7nms%3D&Expires=1778827448"
                        target="_blank">session_11.vrs</a></li>
                <li><a href="https://s3-west.nrp-nautilus.io/avis_ucsc/raw_data/session_11.vrs.json?AWSAccessKeyId=FWVRVM1GVRKYYR3KZ7MQ&Signature=TLHEhLhobymQh7a4bo4X1DqZdok%3D&Expires=1778827448"
                        target="_blank">session_11.vrs.json</a></li>
                <li><a href="https://s3-west.nrp-nautilus.io/avis_ucsc/raw_data/session_12.vrs?AWSAccessKeyId=FWVRVM1GVRKYYR3KZ7MQ&Signature=LOTlhPEoE1U0Ikh2mvkWerIWNMY%3D&Expires=1778827448"
                        target="_blank">session_12.vrs</a></li>
                <li><a href="https://s3-west.nrp-nautilus.io/avis_ucsc/raw_data/session_12.vrs.json?AWSAccessKeyId=FWVRVM1GVRKYYR3KZ7MQ&Signature=1CPjt6L57ShE7eDzVcDzi44aGbM%3D&Expires=1778827448"
                        target="_blank">session_12.vrs.json</a></li>
                <li><a href="https://s3-west.nrp-nautilus.io/avis_ucsc/raw_data/session_13.vrs?AWSAccessKeyId=FWVRVM1GVRKYYR3KZ7MQ&Signature=FwVgwlXWsEf4HXdCLI7tgUnPK%2FU%3D&Expires=1778827448"
                        target="_blank">session_13.vrs</a></li>
                <li><a href="https://s3-west.nrp-nautilus.io/avis_ucsc/raw_data/session_13.vrs.json?AWSAccessKeyId=FWVRVM1GVRKYYR3KZ7MQ&Signature=IGK%2FWCyhA%2BxJ1FgdVYrLqbqfTlA%3D&Expires=1778827448"
                        target="_blank">session_13.vrs.json</a></li>
                <li><a href="https://s3-west.nrp-nautilus.io/avis_ucsc/raw_data/session_14.vrs?AWSAccessKeyId=FWVRVM1GVRKYYR3KZ7MQ&Signature=R%2FAtyHYTR80eqrVeNQ1FMH%2FyPO0%3D&Expires=1778827448"
                        target="_blank">session_14.vrs</a></li>
                <li><a href="https://s3-west.nrp-nautilus.io/avis_ucsc/raw_data/session_14.vrs.json?AWSAccessKeyId=FWVRVM1GVRKYYR3KZ7MQ&Signature=U38agw%2BSB2wh6DckEzJntzKbtAY%3D&Expires=1778827448"
                        target="_blank">session_14.vrs.json</a></li>
                <li><a href="https://s3-west.nrp-nautilus.io/avis_ucsc/raw_data/session_15.vrs?AWSAccessKeyId=FWVRVM1GVRKYYR3KZ7MQ&Signature=2eA4naNPjcmz2CeW54Gr1YHzODQ%3D&Expires=1778827448"
                        target="_blank">session_15.vrs</a></li>
                <li><a href="https://s3-west.nrp-nautilus.io/avis_ucsc/raw_data/session_15.vrs.json?AWSAccessKeyId=FWVRVM1GVRKYYR3KZ7MQ&Signature=9PZfvORDeM%2Bc2cGOjnc3j%2B9eD%2Fc%3D&Expires=1778827448"
                        target="_blank">session_15.vrs.json</a></li>
                <li><a href="https://s3-west.nrp-nautilus.io/avis_ucsc/raw_data/session_16.vrs?AWSAccessKeyId=FWVRVM1GVRKYYR3KZ7MQ&Signature=D5FY9sYZPpmhw21POCV0pgpjuYs%3D&Expires=1778827448"
                        target="_blank">session_16.vrs</a></li>
                <li><a href="https://s3-west.nrp-nautilus.io/avis_ucsc/raw_data/session_16.vrs.json?AWSAccessKeyId=FWVRVM1GVRKYYR3KZ7MQ&Signature=teoEygOpXyL5JGA0HYwLEXzca3I%3D&Expires=1778827448"
                        target="_blank">session_16.vrs.json</a></li>
                <li><a href="https://s3-west.nrp-nautilus.io/avis_ucsc/raw_data/session_17.vrs?AWSAccessKeyId=FWVRVM1GVRKYYR3KZ7MQ&Signature=8mSAlkLtOgEhWBX4Ir2PKQP5JXs%3D&Expires=1778827448"
                        target="_blank">session_17.vrs</a></li>
                <li><a href="https://s3-west.nrp-nautilus.io/avis_ucsc/raw_data/session_17.vrs.json?AWSAccessKeyId=FWVRVM1GVRKYYR3KZ7MQ&Signature=cAN%2FonurPBudO%2F0HDzDAgw6Fg7o%3D&Expires=1778827448"
                        target="_blank">session_17.vrs.json</a></li>
                <li><a href="https://s3-west.nrp-nautilus.io/avis_ucsc/raw_data/session_18.vrs?AWSAccessKeyId=FWVRVM1GVRKYYR3KZ7MQ&Signature=Gzmydv0Z7ig6Vp2eQ2%2F8dKMLD%2FA%3D&Expires=1778827448"
                        target="_blank">session_18.vrs</a></li>
                <li><a href="https://s3-west.nrp-nautilus.io/avis_ucsc/raw_data/session_18.vrs.json?AWSAccessKeyId=FWVRVM1GVRKYYR3KZ7MQ&Signature=3aZKF7asHDFt67%2B%2BpRhxl1H%2FowY%3D&Expires=1778827448"
                        target="_blank">session_18.vrs.json</a></li>
                <li><a href="https://s3-west.nrp-nautilus.io/avis_ucsc/raw_data/session_19.vrs?AWSAccessKeyId=FWVRVM1GVRKYYR3KZ7MQ&Signature=xqnFPGjhvc7bbslJXWuuyRwMj8s%3D&Expires=1778827448"
                        target="_blank">session_19.vrs</a></li>
                <li><a href="https://s3-west.nrp-nautilus.io/avis_ucsc/raw_data/session_19.vrs.json?AWSAccessKeyId=FWVRVM1GVRKYYR3KZ7MQ&Signature=%2F8gkv0pGDsB4ROTluR2nb1ZMQHw%3D&Expires=1778827448"
                        target="_blank">session_19.vrs.json</a></li>
                <li><a href="https://s3-west.nrp-nautilus.io/avis_ucsc/raw_data/session_2.vrs?AWSAccessKeyId=FWVRVM1GVRKYYR3KZ7MQ&Signature=S29Usar9tBGxO543E7UGK%2FnU1a4%3D&Expires=1778827448"
                        target="_blank">session_2.vrs</a></li>
                <li><a href="https://s3-west.nrp-nautilus.io/avis_ucsc/raw_data/session_2.vrs.json?AWSAccessKeyId=FWVRVM1GVRKYYR3KZ7MQ&Signature=Fu%2BeQyatJJHA0tyNlhw9AkJ1FRk%3D&Expires=1778827448"
                        target="_blank">session_2.vrs.json</a></li>
                <li><a href="https://s3-west.nrp-nautilus.io/avis_ucsc/raw_data/session_20.vrs?AWSAccessKeyId=FWVRVM1GVRKYYR3KZ7MQ&Signature=edEPtVyAihK89vuTPyzDYE%2FrFMc%3D&Expires=1778827448"
                        target="_blank">session_20.vrs</a></li>
                <li><a href="https://s3-west.nrp-nautilus.io/avis_ucsc/raw_data/session_20.vrs.json?AWSAccessKeyId=FWVRVM1GVRKYYR3KZ7MQ&Signature=o2HgCUZcBsCbTz5bVaglul8i66k%3D&Expires=1778827448"
                        target="_blank">session_20.vrs.json</a></li>
                <li><a href="https://s3-west.nrp-nautilus.io/avis_ucsc/raw_data/session_21.vrs?AWSAccessKeyId=FWVRVM1GVRKYYR3KZ7MQ&Signature=RlCxjEdro0UyK%2FEvYLNQMC4h3qU%3D&Expires=1778827448"
                        target="_blank">session_21.vrs</a></li>
                <li><a href="https://s3-west.nrp-nautilus.io/avis_ucsc/raw_data/session_21.vrs.json?AWSAccessKeyId=FWVRVM1GVRKYYR3KZ7MQ&Signature=yeleRxHJ7Wq%2FI9F83hNZQO%2F6u5Q%3D&Expires=1778827448"
                        target="_blank">session_21.vrs.json</a></li>
                <li><a href="https://s3-west.nrp-nautilus.io/avis_ucsc/raw_data/session_3.vrs?AWSAccessKeyId=FWVRVM1GVRKYYR3KZ7MQ&Signature=KyQqplaWtQFexVFbPNR2PHXrU0U%3D&Expires=1778827448"
                        target="_blank">session_3.vrs</a></li>
                <li><a href="https://s3-west.nrp-nautilus.io/avis_ucsc/raw_data/session_3.vrs.json?AWSAccessKeyId=FWVRVM1GVRKYYR3KZ7MQ&Signature=H33j2f%2Bvr0KdklhlDvN40IMwo9Q%3D&Expires=1778827448"
                        target="_blank">session_3.vrs.json</a></li>
                <li><a href="https://s3-west.nrp-nautilus.io/avis_ucsc/raw_data/session_4.vrs?AWSAccessKeyId=FWVRVM1GVRKYYR3KZ7MQ&Signature=RWSM3qPq8ujMEHYCNz6C%2BM%2BMHZY%3D&Expires=1778827448"
                        target="_blank">session_4.vrs</a></li>
                <li><a href="https://s3-west.nrp-nautilus.io/avis_ucsc/raw_data/session_4.vrs.json?AWSAccessKeyId=FWVRVM1GVRKYYR3KZ7MQ&Signature=RFKHhksNa4rQzK88pMqd9JNM1Ao%3D&Expires=1778827448"
                        target="_blank">session_4.vrs.json</a></li>
                <li><a href="https://s3-west.nrp-nautilus.io/avis_ucsc/raw_data/session_5.vrs?AWSAccessKeyId=FWVRVM1GVRKYYR3KZ7MQ&Signature=vSp393Mt0FT6FXEn%2BbTTGqOB8BU%3D&Expires=1778827448"
                        target="_blank">session_5.vrs</a></li>
                <li><a href="https://s3-west.nrp-nautilus.io/avis_ucsc/raw_data/session_5.vrs.json?AWSAccessKeyId=FWVRVM1GVRKYYR3KZ7MQ&Signature=wnXILx0Lxid3tjuBwlyxTUg1750%3D&Expires=1778827448"
                        target="_blank">session_5.vrs.json</a></li>
                <li><a href="https://s3-west.nrp-nautilus.io/avis_ucsc/raw_data/session_6.vrs?AWSAccessKeyId=FWVRVM1GVRKYYR3KZ7MQ&Signature=nVtugjB9aoFh8f7l6Cm7mXUBZUM%3D&Expires=1778827448"
                        target="_blank">session_6.vrs</a></li>
                <li><a href="https://s3-west.nrp-nautilus.io/avis_ucsc/raw_data/session_6.vrs.json?AWSAccessKeyId=FWVRVM1GVRKYYR3KZ7MQ&Signature=VwnwZ00ot%2BbyaHGXYgnxhpCY4L0%3D&Expires=1778827448"
                        target="_blank">session_6.vrs.json</a></li>
                <li><a href="https://s3-west.nrp-nautilus.io/avis_ucsc/raw_data/session_7.vrs?AWSAccessKeyId=FWVRVM1GVRKYYR3KZ7MQ&Signature=dJldVOqF%2B%2BROnUZW4IYu969UwUw%3D&Expires=1778827448"
                        target="_blank">session_7.vrs</a></li>
                <li><a href="https://s3-west.nrp-nautilus.io/avis_ucsc/raw_data/session_7.vrs.json?AWSAccessKeyId=FWVRVM1GVRKYYR3KZ7MQ&Signature=rpQM%2F%2BdowJNql50eggP8uWk82T4%3D&Expires=1778827448"
                        target="_blank">session_7.vrs.json</a></li>
                <li><a href="https://s3-west.nrp-nautilus.io/avis_ucsc/raw_data/session_8.vrs?AWSAccessKeyId=FWVRVM1GVRKYYR3KZ7MQ&Signature=N6RF%2BiC0TNHrh8pK0%2BjS6NIwbtU%3D&Expires=1778827448"
                        target="_blank">session_8.vrs</a></li>
                <li><a href="https://s3-west.nrp-nautilus.io/avis_ucsc/raw_data/session_8.vrs.json?AWSAccessKeyId=FWVRVM1GVRKYYR3KZ7MQ&Signature=lfvTAhyjqDo2dehnUXhxNneB%2BEE%3D&Expires=1778827448"
                        target="_blank">session_8.vrs.json</a></li>
                <li><a href="https://s3-west.nrp-nautilus.io/avis_ucsc/raw_data/session_9.vrs?AWSAccessKeyId=FWVRVM1GVRKYYR3KZ7MQ&Signature=ezuEjvlm90KgtwLS4jSmyfLEB4Y%3D&Expires=1778827448"
                        target="_blank">session_9.vrs</a></li>
                <li><a href="https://s3-west.nrp-nautilus.io/avis_ucsc/raw_data/session_9.vrs.json?AWSAccessKeyId=FWVRVM1GVRKYYR3KZ7MQ&Signature=sygXWXXlqKtexIhTjVbJmHpSR6k%3D&Expires=1778827448"
                        target="_blank">session_9.vrs.json</a></li>
                <li><a href="https://s3-west.nrp-nautilus.io/avis_ucsc/raw_data/sessions.txt?AWSAccessKeyId=FWVRVM1GVRKYYR3KZ7MQ&Signature=tuLg3taa7SHiZrO1sDZGghTTOFw%3D&Expires=1778827448"
                        target="_blank">sessions.txt</a></li>
            </ul>
        </li>
        <li><strong>world_map</strong>
            <ul>
                <li><strong>0</strong>
                    <ul>
                        <li><strong>slam</strong>
                            <ul>
                                <li><a href="https://s3-west.nrp-nautilus.io/avis_ucsc/world_map/0/slam/closed_loop_trajectory.csv?AWSAccessKeyId=FWVRVM1GVRKYYR3KZ7MQ&Signature=E5dAblg7B%2FGihc1CWKPqkrshi8Q%3D&Expires=1778827448"
                                        target="_blank">closed_loop_trajectory.csv</a></li>
                                <li><a href="https://s3-west.nrp-nautilus.io/avis_ucsc/world_map/0/slam/online_calibration.jsonl?AWSAccessKeyId=FWVRVM1GVRKYYR3KZ7MQ&Signature=NkwsArD3KQZ7Oc7jFYI8Eb5jZaw%3D&Expires=1778827448"
                                        target="_blank">online_calibration.jsonl</a></li>
                                <li><a href="https://s3-west.nrp-nautilus.io/avis_ucsc/world_map/0/slam/open_loop_trajectory.csv?AWSAccessKeyId=FWVRVM1GVRKYYR3KZ7MQ&Signature=2%2BVs06CMlt5IL6p1ua3DHwAw%2B1Y%3D&Expires=1778827448"
                                        target="_blank">open_loop_trajectory.csv</a></li>
                                <li><a href="https://s3-west.nrp-nautilus.io/avis_ucsc/world_map/0/slam/semidense_observations.csv.gz?AWSAccessKeyId=FWVRVM1GVRKYYR3KZ7MQ&Signature=A204Udb%2Fg4U20omGvbBJesiaOPA%3D&Expires=1778827448"
                                        target="_blank">semidense_observations.csv.gz</a></li>
                                <li><a href="https://s3-west.nrp-nautilus.io/avis_ucsc/world_map/0/slam/semidense_points.csv.gz?AWSAccessKeyId=FWVRVM1GVRKYYR3KZ7MQ&Signature=01mAl4KJXIWZOU9uQf1fvyBQ9IM%3D&Expires=1778827448"
                                        target="_blank">semidense_points.csv.gz</a></li>
                                <li><a href="https://s3-west.nrp-nautilus.io/avis_ucsc/world_map/0/slam/summary.json?AWSAccessKeyId=FWVRVM1GVRKYYR3KZ7MQ&Signature=aR9AUCqvM6dYfQzgZAPk9FdSB4s%3D&Expires=1778827448"
                                        target="_blank">summary.json</a></li>
                            </ul>
                        </li>
                        <li><a href="https://s3-west.nrp-nautilus.io/avis_ucsc/world_map/0/vrs_health_check.json?AWSAccessKeyId=FWVRVM1GVRKYYR3KZ7MQ&Signature=WC0zNEvQ29ym6kAlX6%2FfV3BSgyg%3D&Expires=1778827448"
                                target="_blank">vrs_health_check.json</a></li>
                        <li><a href="https://s3-west.nrp-nautilus.io/avis_ucsc/world_map/0/vrs_health_check_slam.json?AWSAccessKeyId=FWVRVM1GVRKYYR3KZ7MQ&Signature=0QkGGwfom1SfYFahOwH0Ou8UQxU%3D&Expires=1778827448"
                                target="_blank">vrs_health_check_slam.json</a></li>
                    </ul>
                </li>
                <li><strong>1</strong>
                    <ul>
                        <li><strong>slam</strong>
                            <ul>
                                <li><a href="https://s3-west.nrp-nautilus.io/avis_ucsc/world_map/1/slam/closed_loop_trajectory.csv?AWSAccessKeyId=FWVRVM1GVRKYYR3KZ7MQ&Signature=ifCkJ2gK0CiOnCYm%2BP33hfdhbv8%3D&Expires=1778827448"
                                        target="_blank">closed_loop_trajectory.csv</a></li>
                                <li><a href="https://s3-west.nrp-nautilus.io/avis_ucsc/world_map/1/slam/online_calibration.jsonl?AWSAccessKeyId=FWVRVM1GVRKYYR3KZ7MQ&Signature=x85zAewmhP9LZVZVHrj6y1Mij08%3D&Expires=1778827448"
                                        target="_blank">online_calibration.jsonl</a></li>
                                <li><a href="https://s3-west.nrp-nautilus.io/avis_ucsc/world_map/1/slam/open_loop_trajectory.csv?AWSAccessKeyId=FWVRVM1GVRKYYR3KZ7MQ&Signature=jDq3b6CW1kxa4mI99zVN1hl6Knw%3D&Expires=1778827448"
                                        target="_blank">open_loop_trajectory.csv</a></li>
                                <li><a href="https://s3-west.nrp-nautilus.io/avis_ucsc/world_map/1/slam/semidense_observations.csv.gz?AWSAccessKeyId=FWVRVM1GVRKYYR3KZ7MQ&Signature=dMy6AmfYNH2N2T4f0m9EP7UN15I%3D&Expires=1778827448"
                                        target="_blank">semidense_observations.csv.gz</a></li>
                                <li><a href="https://s3-west.nrp-nautilus.io/avis_ucsc/world_map/1/slam/semidense_points.csv.gz?AWSAccessKeyId=FWVRVM1GVRKYYR3KZ7MQ&Signature=pDtLL%2F7Hp6enk0CCeBAQ%2FuNxFp4%3D&Expires=1778827448"
                                        target="_blank">semidense_points.csv.gz</a></li>
                                <li><a href="https://s3-west.nrp-nautilus.io/avis_ucsc/world_map/1/slam/summary.json?AWSAccessKeyId=FWVRVM1GVRKYYR3KZ7MQ&Signature=caugsrMICub3r1kg03PLLQvZaGc%3D&Expires=1778827448"
                                        target="_blank">summary.json</a></li>
                            </ul>
                        </li>
                        <li><a href="https://s3-west.nrp-nautilus.io/avis_ucsc/world_map/1/vrs_health_check.json?AWSAccessKeyId=FWVRVM1GVRKYYR3KZ7MQ&Signature=WgvoTt12v%2FyfdvBudc%2BpDUrdxs8%3D&Expires=1778827448"
                                target="_blank">vrs_health_check.json</a></li>
                        <li><a href="https://s3-west.nrp-nautilus.io/avis_ucsc/world_map/1/vrs_health_check_slam.json?AWSAccessKeyId=FWVRVM1GVRKYYR3KZ7MQ&Signature=kAXdyNgngtkLMjNXVZh8pZoAcnw%3D&Expires=1778827448"
                                target="_blank">vrs_health_check_slam.json</a></li>
                    </ul>
                </li>
                <li><strong>2</strong>
                    <ul>
                        <li><strong>slam</strong>
                            <ul>
                                <li><a href="https://s3-west.nrp-nautilus.io/avis_ucsc/world_map/2/slam/closed_loop_trajectory.csv?AWSAccessKeyId=FWVRVM1GVRKYYR3KZ7MQ&Signature=cFbW8b%2FDZpsAKBc5jOWMJVRl5KA%3D&Expires=1778827448"
                                        target="_blank">closed_loop_trajectory.csv</a></li>
                                <li><a href="https://s3-west.nrp-nautilus.io/avis_ucsc/world_map/2/slam/online_calibration.jsonl?AWSAccessKeyId=FWVRVM1GVRKYYR3KZ7MQ&Signature=xEH6bGukJVHUaTpSisZUHiT3qpw%3D&Expires=1778827448"
                                        target="_blank">online_calibration.jsonl</a></li>
                                <li><a href="https://s3-west.nrp-nautilus.io/avis_ucsc/world_map/2/slam/open_loop_trajectory.csv?AWSAccessKeyId=FWVRVM1GVRKYYR3KZ7MQ&Signature=Ta8pCm%2FvM0d6aj85K6%2BpR2X3WjY%3D&Expires=1778827448"
                                        target="_blank">open_loop_trajectory.csv</a></li>
                                <li><a href="https://s3-west.nrp-nautilus.io/avis_ucsc/world_map/2/slam/semidense_observations.csv.gz?AWSAccessKeyId=FWVRVM1GVRKYYR3KZ7MQ&Signature=BPjWdYpYmwoEPw4x9MuuDPk0qTA%3D&Expires=1778827448"
                                        target="_blank">semidense_observations.csv.gz</a></li>
                                <li><a href="https://s3-west.nrp-nautilus.io/avis_ucsc/world_map/2/slam/semidense_points.csv.gz?AWSAccessKeyId=FWVRVM1GVRKYYR3KZ7MQ&Signature=8esDjOUT4bO0y8z9%2Fyooc9Yh58Q%3D&Expires=1778827448"
                                        target="_blank">semidense_points.csv.gz</a></li>
                                <li><a href="https://s3-west.nrp-nautilus.io/avis_ucsc/world_map/2/slam/summary.json?AWSAccessKeyId=FWVRVM1GVRKYYR3KZ7MQ&Signature=XFPwejCVNem4IbQaYNtlRG8HM5A%3D&Expires=1778827448"
                                        target="_blank">summary.json</a></li>
                            </ul>
                        </li>
                        <li><a href="https://s3-west.nrp-nautilus.io/avis_ucsc/world_map/2/vrs_health_check.json?AWSAccessKeyId=FWVRVM1GVRKYYR3KZ7MQ&Signature=5N1hS1bhb34EO%2BM5jrhEB3ftz2c%3D&Expires=1778827448"
                                target="_blank">vrs_health_check.json</a></li>
                        <li><a href="https://s3-west.nrp-nautilus.io/avis_ucsc/world_map/2/vrs_health_check_slam.json?AWSAccessKeyId=FWVRVM1GVRKYYR3KZ7MQ&Signature=DKNYIXbnvjODDxwQv9CX6Netaxw%3D&Expires=1778827448"
                                target="_blank">vrs_health_check_slam.json</a></li>
                    </ul>
                </li>
                <li><strong>3</strong>
                    <ul>
                        <li><strong>slam</strong>
                            <ul>
                                <li><a href="https://s3-west.nrp-nautilus.io/avis_ucsc/world_map/3/slam/closed_loop_trajectory.csv?AWSAccessKeyId=FWVRVM1GVRKYYR3KZ7MQ&Signature=eWN3C10ktZXFtqdRRhPX35s8gHQ%3D&Expires=1778827448"
                                        target="_blank">closed_loop_trajectory.csv</a></li>
                                <li><a href="https://s3-west.nrp-nautilus.io/avis_ucsc/world_map/3/slam/online_calibration.jsonl?AWSAccessKeyId=FWVRVM1GVRKYYR3KZ7MQ&Signature=Vi6VUzjz6MJS0It0tEU5tMGnhvg%3D&Expires=1778827448"
                                        target="_blank">online_calibration.jsonl</a></li>
                                <li><a href="https://s3-west.nrp-nautilus.io/avis_ucsc/world_map/3/slam/open_loop_trajectory.csv?AWSAccessKeyId=FWVRVM1GVRKYYR3KZ7MQ&Signature=9woH2sKkYMnWw688qKH%2BJ8eaWbI%3D&Expires=1778827448"
                                        target="_blank">open_loop_trajectory.csv</a></li>
                                <li><a href="https://s3-west.nrp-nautilus.io/avis_ucsc/world_map/3/slam/semidense_observations.csv.gz?AWSAccessKeyId=FWVRVM1GVRKYYR3KZ7MQ&Signature=VCNs853rXnmFqUAqUAp%2BXsY2k9o%3D&Expires=1778827448"
                                        target="_blank">semidense_observations.csv.gz</a></li>
                                <li><a href="https://s3-west.nrp-nautilus.io/avis_ucsc/world_map/3/slam/semidense_points.csv.gz?AWSAccessKeyId=FWVRVM1GVRKYYR3KZ7MQ&Signature=QvdFekTpKpzE91phccIafmmYiBE%3D&Expires=1778827448"
                                        target="_blank">semidense_points.csv.gz</a></li>
                                <li><a href="https://s3-west.nrp-nautilus.io/avis_ucsc/world_map/3/slam/summary.json?AWSAccessKeyId=FWVRVM1GVRKYYR3KZ7MQ&Signature=At8yUlolfgliOfHAz192pHA1JuA%3D&Expires=1778827448"
                                        target="_blank">summary.json</a></li>
                            </ul>
                        </li>
                        <li><a href="https://s3-west.nrp-nautilus.io/avis_ucsc/world_map/3/vrs_health_check.json?AWSAccessKeyId=FWVRVM1GVRKYYR3KZ7MQ&Signature=JZlIetSOJNdJIA1aoObgRCCMQBo%3D&Expires=1778827448"
                                target="_blank">vrs_health_check.json</a></li>
                        <li><a href="https://s3-west.nrp-nautilus.io/avis_ucsc/world_map/3/vrs_health_check_slam.json?AWSAccessKeyId=FWVRVM1GVRKYYR3KZ7MQ&Signature=1QxjJHPqFLv5S0lMy8gdFMeuBiE%3D&Expires=1778827448"
                                target="_blank">vrs_health_check_slam.json</a></li>
                    </ul>
                </li>
                <li><strong>4</strong>
                    <ul>
                        <li><strong>slam</strong>
                            <ul>
                                <li><a href="https://s3-west.nrp-nautilus.io/avis_ucsc/world_map/4/slam/closed_loop_trajectory.csv?AWSAccessKeyId=FWVRVM1GVRKYYR3KZ7MQ&Signature=7LnmC%2BwNrr541GKDeVQjnc3zHXM%3D&Expires=1778827448"
                                        target="_blank">closed_loop_trajectory.csv</a></li>
                                <li><a href="https://s3-west.nrp-nautilus.io/avis_ucsc/world_map/4/slam/online_calibration.jsonl?AWSAccessKeyId=FWVRVM1GVRKYYR3KZ7MQ&Signature=gID1fXda2aN8vwDafRdn6ZSoOPY%3D&Expires=1778827448"
                                        target="_blank">online_calibration.jsonl</a></li>
                                <li><a href="https://s3-west.nrp-nautilus.io/avis_ucsc/world_map/4/slam/open_loop_trajectory.csv?AWSAccessKeyId=FWVRVM1GVRKYYR3KZ7MQ&Signature=Czmj26nSMfBt9C3SgYBpgL4yVVA%3D&Expires=1778827448"
                                        target="_blank">open_loop_trajectory.csv</a></li>
                                <li><a href="https://s3-west.nrp-nautilus.io/avis_ucsc/world_map/4/slam/semidense_observations.csv.gz?AWSAccessKeyId=FWVRVM1GVRKYYR3KZ7MQ&Signature=PkF03F5W%2F3iAFkOEoSKSc%2FCrjls%3D&Expires=1778827448"
                                        target="_blank">semidense_observations.csv.gz</a></li>
                                <li><a href="https://s3-west.nrp-nautilus.io/avis_ucsc/world_map/4/slam/semidense_points.csv.gz?AWSAccessKeyId=FWVRVM1GVRKYYR3KZ7MQ&Signature=ULp8lDjo1t1cha4wilDCdmbtV84%3D&Expires=1778827448"
                                        target="_blank">semidense_points.csv.gz</a></li>
                                <li><a href="https://s3-west.nrp-nautilus.io/avis_ucsc/world_map/4/slam/summary.json?AWSAccessKeyId=FWVRVM1GVRKYYR3KZ7MQ&Signature=87CP%2B8T8dW2oYro0Mh63a6spqRg%3D&Expires=1778827448"
                                        target="_blank">summary.json</a></li>
                            </ul>
                        </li>
                        <li><a href="https://s3-west.nrp-nautilus.io/avis_ucsc/world_map/4/vrs_health_check.json?AWSAccessKeyId=FWVRVM1GVRKYYR3KZ7MQ&Signature=FtorCttMTziqEGBP2p2wL%2B3eCUE%3D&Expires=1778827448"
                                target="_blank">vrs_health_check.json</a></li>
                        <li><a href="https://s3-west.nrp-nautilus.io/avis_ucsc/world_map/4/vrs_health_check_slam.json?AWSAccessKeyId=FWVRVM1GVRKYYR3KZ7MQ&Signature=3lwi58ElzDczRr9zq9W6lpFGFOc%3D&Expires=1778827448"
                                target="_blank">vrs_health_check_slam.json</a></li>
                    </ul>
                </li>
                <li><strong>5</strong>
                    <ul>
                        <li><strong>slam</strong>
                            <ul>
                                <li><a href="https://s3-west.nrp-nautilus.io/avis_ucsc/world_map/5/slam/closed_loop_trajectory.csv?AWSAccessKeyId=FWVRVM1GVRKYYR3KZ7MQ&Signature=nAkHeqfyGvb3t2egRLJvsZXiPJI%3D&Expires=1778827448"
                                        target="_blank">closed_loop_trajectory.csv</a></li>
                                <li><a href="https://s3-west.nrp-nautilus.io/avis_ucsc/world_map/5/slam/online_calibration.jsonl?AWSAccessKeyId=FWVRVM1GVRKYYR3KZ7MQ&Signature=NFA%2Bn6kWs8D%2Bh%2FRPwonhgtg4VrA%3D&Expires=1778827448"
                                        target="_blank">online_calibration.jsonl</a></li>
                                <li><a href="https://s3-west.nrp-nautilus.io/avis_ucsc/world_map/5/slam/open_loop_trajectory.csv?AWSAccessKeyId=FWVRVM1GVRKYYR3KZ7MQ&Signature=JZBSDcjdqnGUW3OE1nt1BUXjDDA%3D&Expires=1778827448"
                                        target="_blank">open_loop_trajectory.csv</a></li>
                                <li><a href="https://s3-west.nrp-nautilus.io/avis_ucsc/world_map/5/slam/semidense_observations.csv.gz?AWSAccessKeyId=FWVRVM1GVRKYYR3KZ7MQ&Signature=7CL3TETmsKpetzqe0Jqly9EFIWA%3D&Expires=1778827448"
                                        target="_blank">semidense_observations.csv.gz</a></li>
                                <li><a href="https://s3-west.nrp-nautilus.io/avis_ucsc/world_map/5/slam/semidense_points.csv.gz?AWSAccessKeyId=FWVRVM1GVRKYYR3KZ7MQ&Signature=O%2F%2B4SsWIj%2Fufjgfi3x8kojfVUEk%3D&Expires=1778827448"
                                        target="_blank">semidense_points.csv.gz</a></li>
                                <li><a href="https://s3-west.nrp-nautilus.io/avis_ucsc/world_map/5/slam/summary.json?AWSAccessKeyId=FWVRVM1GVRKYYR3KZ7MQ&Signature=szwhtml0WQpTquqM2ChuQVlY9O0%3D&Expires=1778827448"
                                        target="_blank">summary.json</a></li>
                            </ul>
                        </li>
                        <li><a href="https://s3-west.nrp-nautilus.io/avis_ucsc/world_map/5/vrs_health_check.json?AWSAccessKeyId=FWVRVM1GVRKYYR3KZ7MQ&Signature=Yua35OGIHaczg4R%2BZSbLiM%2F3ZXU%3D&Expires=1778827448"
                                target="_blank">vrs_health_check.json</a></li>
                        <li><a href="https://s3-west.nrp-nautilus.io/avis_ucsc/world_map/5/vrs_health_check_slam.json?AWSAccessKeyId=FWVRVM1GVRKYYR3KZ7MQ&Signature=RKFt4eMbjdD7Oc34591f4KaSY1A%3D&Expires=1778827448"
                                target="_blank">vrs_health_check_slam.json</a></li>
                    </ul>
                </li>
                <li><strong>6</strong>
                    <ul>
                        <li><strong>slam</strong>
                            <ul>
                                <li><a href="https://s3-west.nrp-nautilus.io/avis_ucsc/world_map/6/slam/closed_loop_trajectory.csv?AWSAccessKeyId=FWVRVM1GVRKYYR3KZ7MQ&Signature=aXuzKR%2F4I%2BbfDr%2BiO%2FebA3QsuHg%3D&Expires=1778827448"
                                        target="_blank">closed_loop_trajectory.csv</a></li>
                                <li><a href="https://s3-west.nrp-nautilus.io/avis_ucsc/world_map/6/slam/online_calibration.jsonl?AWSAccessKeyId=FWVRVM1GVRKYYR3KZ7MQ&Signature=b3I6PihjObbf8bTh6H94hl0PsMc%3D&Expires=1778827448"
                                        target="_blank">online_calibration.jsonl</a></li>
                                <li><a href="https://s3-west.nrp-nautilus.io/avis_ucsc/world_map/6/slam/open_loop_trajectory.csv?AWSAccessKeyId=FWVRVM1GVRKYYR3KZ7MQ&Signature=PpUmgcnI9y52TxnFjHpYt%2BcvAw0%3D&Expires=1778827448"
                                        target="_blank">open_loop_trajectory.csv</a></li>
                                <li><a href="https://s3-west.nrp-nautilus.io/avis_ucsc/world_map/6/slam/semidense_observations.csv.gz?AWSAccessKeyId=FWVRVM1GVRKYYR3KZ7MQ&Signature=bzKZfbF8COdtZaSypt%2FIu1cjHz0%3D&Expires=1778827448"
                                        target="_blank">semidense_observations.csv.gz</a></li>
                                <li><a href="https://s3-west.nrp-nautilus.io/avis_ucsc/world_map/6/slam/semidense_points.csv.gz?AWSAccessKeyId=FWVRVM1GVRKYYR3KZ7MQ&Signature=S1lPH%2B2VkM1tALEtsEFFw%2Fn430I%3D&Expires=1778827448"
                                        target="_blank">semidense_points.csv.gz</a></li>
                                <li><a href="https://s3-west.nrp-nautilus.io/avis_ucsc/world_map/6/slam/summary.json?AWSAccessKeyId=FWVRVM1GVRKYYR3KZ7MQ&Signature=TGMkG7sL7NOGhzpmcsAVnQn6otk%3D&Expires=1778827448"
                                        target="_blank">summary.json</a></li>
                            </ul>
                        </li>
                        <li><a href="https://s3-west.nrp-nautilus.io/avis_ucsc/world_map/6/vrs_health_check.json?AWSAccessKeyId=FWVRVM1GVRKYYR3KZ7MQ&Signature=xZE0U77y2XG0UfO70C7IhhJ%2Byos%3D&Expires=1778827448"
                                target="_blank">vrs_health_check.json</a></li>
                        <li><a href="https://s3-west.nrp-nautilus.io/avis_ucsc/world_map/6/vrs_health_check_slam.json?AWSAccessKeyId=FWVRVM1GVRKYYR3KZ7MQ&Signature=hyR8Fs5vNL%2BA%2BIRaOfP06%2BvtRiw%3D&Expires=1778827448"
                                target="_blank">vrs_health_check_slam.json</a></li>
                    </ul>
                </li>
                <li><strong>7</strong>
                    <ul>
                        <li><strong>slam</strong>
                            <ul>
                                <li><a href="https://s3-west.nrp-nautilus.io/avis_ucsc/world_map/7/slam/closed_loop_trajectory.csv?AWSAccessKeyId=FWVRVM1GVRKYYR3KZ7MQ&Signature=R5qwFNPqMD4qsP6rysNG5H0%2FW5k%3D&Expires=1778827448"
                                        target="_blank">closed_loop_trajectory.csv</a></li>
                                <li><a href="https://s3-west.nrp-nautilus.io/avis_ucsc/world_map/7/slam/online_calibration.jsonl?AWSAccessKeyId=FWVRVM1GVRKYYR3KZ7MQ&Signature=4E1VoVa67z78s2YdLohe5irnBkE%3D&Expires=1778827448"
                                        target="_blank">online_calibration.jsonl</a></li>
                                <li><a href="https://s3-west.nrp-nautilus.io/avis_ucsc/world_map/7/slam/open_loop_trajectory.csv?AWSAccessKeyId=FWVRVM1GVRKYYR3KZ7MQ&Signature=PIvHfzL%2FO79QByrgaZ9ldDtxc0A%3D&Expires=1778827448"
                                        target="_blank">open_loop_trajectory.csv</a></li>
                                <li><a href="https://s3-west.nrp-nautilus.io/avis_ucsc/world_map/7/slam/semidense_observations.csv.gz?AWSAccessKeyId=FWVRVM1GVRKYYR3KZ7MQ&Signature=qhKLbloOyKhm3s5zCk9NVvPnSck%3D&Expires=1778827448"
                                        target="_blank">semidense_observations.csv.gz</a></li>
                                <li><a href="https://s3-west.nrp-nautilus.io/avis_ucsc/world_map/7/slam/semidense_points.csv.gz?AWSAccessKeyId=FWVRVM1GVRKYYR3KZ7MQ&Signature=pGY55l8i4lG9NLMk8mBYT%2F7UOeI%3D&Expires=1778827448"
                                        target="_blank">semidense_points.csv.gz</a></li>
                                <li><a href="https://s3-west.nrp-nautilus.io/avis_ucsc/world_map/7/slam/summary.json?AWSAccessKeyId=FWVRVM1GVRKYYR3KZ7MQ&Signature=hItDgnmWML7eG7C4himfr58ODNw%3D&Expires=1778827448"
                                        target="_blank">summary.json</a></li>
                            </ul>
                        </li>
                        <li><a href="https://s3-west.nrp-nautilus.io/avis_ucsc/world_map/7/vrs_health_check.json?AWSAccessKeyId=FWVRVM1GVRKYYR3KZ7MQ&Signature=MJ5BKvGanDMm31nBNcp508FKXu4%3D&Expires=1778827448"
                                target="_blank">vrs_health_check.json</a></li>
                        <li><a href="https://s3-west.nrp-nautilus.io/avis_ucsc/world_map/7/vrs_health_check_slam.json?AWSAccessKeyId=FWVRVM1GVRKYYR3KZ7MQ&Signature=e9rk4dYaR7DzFQEOdr2En5tq8ck%3D&Expires=1778827448"
                                target="_blank">vrs_health_check_slam.json</a></li>
                    </ul>
                </li>
                <li><strong>8</strong>
                    <ul>
                        <li><strong>slam</strong>
                            <ul>
                                <li><a href="https://s3-west.nrp-nautilus.io/avis_ucsc/world_map/8/slam/closed_loop_trajectory.csv?AWSAccessKeyId=FWVRVM1GVRKYYR3KZ7MQ&Signature=Nx%2FtfdCqJneWfyYBpij2I4aQZWk%3D&Expires=1778827448"
                                        target="_blank">closed_loop_trajectory.csv</a></li>
                                <li><a href="https://s3-west.nrp-nautilus.io/avis_ucsc/world_map/8/slam/online_calibration.jsonl?AWSAccessKeyId=FWVRVM1GVRKYYR3KZ7MQ&Signature=otyDK41CDVE1tuEdWHmQ6NLucCE%3D&Expires=1778827448"
                                        target="_blank">online_calibration.jsonl</a></li>
                                <li><a href="https://s3-west.nrp-nautilus.io/avis_ucsc/world_map/8/slam/open_loop_trajectory.csv?AWSAccessKeyId=FWVRVM1GVRKYYR3KZ7MQ&Signature=8sm6QvyShyR8mMoskc8mFz51%2FBQ%3D&Expires=1778827448"
                                        target="_blank">open_loop_trajectory.csv</a></li>
                                <li><a href="https://s3-west.nrp-nautilus.io/avis_ucsc/world_map/8/slam/semidense_observations.csv.gz?AWSAccessKeyId=FWVRVM1GVRKYYR3KZ7MQ&Signature=FJNn9ztYiCWML8BlFMV99bWETKQ%3D&Expires=1778827448"
                                        target="_blank">semidense_observations.csv.gz</a></li>
                                <li><a href="https://s3-west.nrp-nautilus.io/avis_ucsc/world_map/8/slam/semidense_points.csv.gz?AWSAccessKeyId=FWVRVM1GVRKYYR3KZ7MQ&Signature=R3nzpYoorvHxLJp7Hz8oWV27fz0%3D&Expires=1778827448"
                                        target="_blank">semidense_points.csv.gz</a></li>
                                <li><a href="https://s3-west.nrp-nautilus.io/avis_ucsc/world_map/8/slam/summary.json?AWSAccessKeyId=FWVRVM1GVRKYYR3KZ7MQ&Signature=J1CR5GxmRiOz1hSFaRo4eW%2FcHuQ%3D&Expires=1778827448"
                                        target="_blank">summary.json</a></li>
                            </ul>
                        </li>
                        <li><a href="https://s3-west.nrp-nautilus.io/avis_ucsc/world_map/8/vrs_health_check.json?AWSAccessKeyId=FWVRVM1GVRKYYR3KZ7MQ&Signature=23UjNICC17Nw6AAa7T%2BQGn9ljuk%3D&Expires=1778827448"
                                target="_blank">vrs_health_check.json</a></li>
                        <li><a href="https://s3-west.nrp-nautilus.io/avis_ucsc/world_map/8/vrs_health_check_slam.json?AWSAccessKeyId=FWVRVM1GVRKYYR3KZ7MQ&Signature=Gog1nSJLmvMssVcIEsqfRlP%2BRlQ%3D&Expires=1778827448"
                                target="_blank">vrs_health_check_slam.json</a></li>
                    </ul>
                </li>
                <li><strong>9</strong>
                    <ul>
                        <li><strong>slam</strong>
                            <ul>
                                <li><a href="https://s3-west.nrp-nautilus.io/avis_ucsc/world_map/9/slam/closed_loop_trajectory.csv?AWSAccessKeyId=FWVRVM1GVRKYYR3KZ7MQ&Signature=A5vcayo1TdsGH4jT0rsNWnxxEtU%3D&Expires=1778827448"
                                        target="_blank">closed_loop_trajectory.csv</a></li>
                                <li><a href="https://s3-west.nrp-nautilus.io/avis_ucsc/world_map/9/slam/online_calibration.jsonl?AWSAccessKeyId=FWVRVM1GVRKYYR3KZ7MQ&Signature=%2B3J0n%2FVtNe2%2FFREWx9A4y%2FkyKyE%3D&Expires=1778827448"
                                        target="_blank">online_calibration.jsonl</a></li>
                                <li><a href="https://s3-west.nrp-nautilus.io/avis_ucsc/world_map/9/slam/open_loop_trajectory.csv?AWSAccessKeyId=FWVRVM1GVRKYYR3KZ7MQ&Signature=NNf4FGtn7DQGV1tI8aBomXSUIAU%3D&Expires=1778827448"
                                        target="_blank">open_loop_trajectory.csv</a></li>
                                <li><a href="https://s3-west.nrp-nautilus.io/avis_ucsc/world_map/9/slam/semidense_observations.csv.gz?AWSAccessKeyId=FWVRVM1GVRKYYR3KZ7MQ&Signature=b4grB6vwYFQAKxwgf01ZeZNeORg%3D&Expires=1778827448"
                                        target="_blank">semidense_observations.csv.gz</a></li>
                                <li><a href="https://s3-west.nrp-nautilus.io/avis_ucsc/world_map/9/slam/semidense_points.csv.gz?AWSAccessKeyId=FWVRVM1GVRKYYR3KZ7MQ&Signature=UC%2BVGrzNNWlwPqXZj0OpGJdYjX0%3D&Expires=1778827448"
                                        target="_blank">semidense_points.csv.gz</a></li>
                                <li><a href="https://s3-west.nrp-nautilus.io/avis_ucsc/world_map/9/slam/summary.json?AWSAccessKeyId=FWVRVM1GVRKYYR3KZ7MQ&Signature=W5cBHGBH4p0otVAiGD%2B%2F6x%2BkRqM%3D&Expires=1778827448"
                                        target="_blank">summary.json</a></li>
                            </ul>
                        </li>
                        <li><a href="https://s3-west.nrp-nautilus.io/avis_ucsc/world_map/9/vrs_health_check.json?AWSAccessKeyId=FWVRVM1GVRKYYR3KZ7MQ&Signature=34uPlywaoJ%2Fw7e2KtS4w9EYdAkE%3D&Expires=1778827448"
                                target="_blank">vrs_health_check.json</a></li>
                        <li><a href="https://s3-west.nrp-nautilus.io/avis_ucsc/world_map/9/vrs_health_check_slam.json?AWSAccessKeyId=FWVRVM1GVRKYYR3KZ7MQ&Signature=QfXAYdVZFqORpMMr9ct0nciE1H8%3D&Expires=1778827448"
                                target="_blank">vrs_health_check_slam.json</a></li>
                    </ul>
                </li>
                <li><a href="https://s3-west.nrp-nautilus.io/avis_ucsc/world_map/summary.json.zip?AWSAccessKeyId=FWVRVM1GVRKYYR3KZ7MQ&Signature=ZBKFmZq0xHOto5nmZVAGjdkXIqA%3D&Expires=1778827448"
                        target="_blank">summary.json.zip</a></li>
                <li><a href="https://s3-west.nrp-nautilus.io/avis_ucsc/world_map/vrs_to_multi_slam.json?AWSAccessKeyId=FWVRVM1GVRKYYR3KZ7MQ&Signature=leWzGsqZMdwZrLh2t5LHkBjrpBo%3D&Expires=1778827448"
                        target="_blank">vrs_to_multi_slam.json</a></li>
            </ul>
        </li>
    </ul>
</body>

</html>